body {
    text-align: center;
}


#game-start {
  /*display: none;*/
  position:fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}


.modal-content {
background-color: rgba(25, 192, 225, 0.8);
color: #fff;
margin: 20% auto;
padding: 20px;
width:80%;
height: 80%;
border: 2px #ccf406 solid;
border-radius: 4px;
}

.player {
  padding-top: 5em;
  padding-bottom: 5em;
}

.player-holder {
  background-color: #b3ccc4;
  border: 2px white solid;
  width: 80%;
  height: 20%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}

.char {
  width: 100px;
  margin: 2px auto;
}

.char img {
  padding: 5px;
  width: 80%;
}

.char img:hover {
  cursor: pointer;
}

.difficulty {
  padding-bottom: 4em;
}

.button {
  background: #f88379;
  padding: 1em 2em;
  margin: 2em;
  color: #fff;
  border: 2px #878c6e solid;
  border-radius: 3px;
}

.button:hover {
  cursor: pointer;
  color: #1d1b1b;
  background: #f7a1a1;
  border: 2px #f3f3f3 solid;
}
